<tr>
  <td><%= wish.text %></td>
  <td><%= link_to 'Show', wish %></td>
  <td><%= link_to 'Edit', edit_wish_path(wish) %></td>
  <td><%= link_to 'Destroy', wish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
